<section class="section-head">
    <div class="container">
        <div class="row-fluid top-row">
            <div class="span4">
                <div class="top-menu left">
                    <ul class="inline">
                        <li><a href="http://192.168.1.2:9999/shopping-cart">checkout</a></li>
                        <li><a href="http://192.168.1.2:9999/contact">contact</a></li>
                        <li><a href="http://192.168.1.2:9999/index">home</a></li>
                    </ul>

                </div>
            </div>
            <div class="span4 logo-holder">
                <div class="logo">
                    <span class="icon">
                        <img alt="" src="images/logo.png" />
                    </span>
                    <span class="text">
                        <a href="http://192.168.1.2:9999/index">Cosmeti<span>co</span></a>
                    </span>
                </div>




            </div>

            <div class="span4 cart-holder">
                <div class="top-menu cart-menu">
                    <ul class="inline">
                        <li>
                            <% if(user=="Login"){ %>
                            <a href="http://192.168.1.2:9999/checkout-1" id="username">
                                <%=user%>
                            </a>

                            <%}else{%>
                            <a href="#" id="username">
                                <%=user%>
                            </a>
                            <%}%>

                        </li>
                        <li>

                            <div class="doviz-dropdown">
                                <% if(user=="Login"){ %>
                                <a class=" dropdown-toggle" data-hover="dropdown" href="http://192.168.1.2:9999/checkout-1"
                                    id="cancellation">
                                    <%=exit%>
                                </a>
                                <% }else{ %>
                                <a class=" dropdown-toggle" data-hover="dropdown" href="http://192.168.1.2:9999/checkout-1"
                                    id="cancellation" onclick="cancellation()">
                                    <%=exit%>
                                </a>
                                <%} %>
                            </div>
                            <script>
                                function cancellation() {
                                    document.cookie = "name="+"Login";
                                    $.ajax({
                                        url: "cancellation",
                                        type: "post",
                                        data:{},
                                        traditional: true,
                                        success: function (data) {
                                            return;
                                        }
                                    })
                                }
                            </script>
                        </li>

                        <li>
                            <div class="basket">
                                <div class="basket-item-count">
                                    3
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-hover="dropdown" href="http://192.168.1.2:9999/shopping-cart">
                                        <img alt="basket" src="images/icon-basket.png" />
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- 这里是购物车 -->


                                        <li>
                                            <div class="basket-item">
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <div class="thumb">
                                                            <img alt="" src="images/p1.jpg" />
                                                        </div>
                                                    </div>
                                                    <div class="span8">
                                                        <div class="title">Blueberry</div>
                                                        <div class="price">$270.00</div>
                                                    </div>
                                                </div>
                                                <a class="close-btn" href="http://192.168.1.2:9999/#"></a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="basket-item">
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <div class="thumb">
                                                            <img alt="" src="images/p2.jpg" />
                                                        </div>
                                                    </div>
                                                    <div class="span8">
                                                        <div class="title">Versache</div>
                                                        <div class="price">$120.00</div>
                                                    </div>
                                                </div>
                                                <a class="close-btn" href="http://192.168.1.2:9999/#"></a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="basket-item">
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <div class="thumb">
                                                            <img alt="" src="images/p3.jpg" />
                                                        </div>
                                                    </div>
                                                    <div class="span8">
                                                        <div class="title">Dark Shadow</div>
                                                        <div class="price">$99.99</div>
                                                    </div>
                                                </div>
                                                <a class="close-btn" href="http://192.168.1.2:9999/#"></a>
                                            </div>
                                        </li>

                                        <li class="checkout">
                                            <a href="http://192.168.1.2:9999/shopping-cart" class="cusmo-btn">checkout</a>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </li>

                    </ul>


                </div>
            </div>
        </div>


    </div>

    <div class="top-categories">
        <div class="container">
            <div class="row-fluid">
                <div class="span9">
                    <ul class="inline top-cat-menu">
                        <li>
                            <a href="http://192.168.1.2:9999/products-grid">face</a>
                        </li>
                        <li><a href="http://192.168.1.2:9999/products-grid">body</a></li>
                        <li><a href="http://192.168.1.2:9999/products-grid">make up</a></li>


                        <li><a href="http://192.168.1.2:9999/products-grid">hairs</a></li>
                        <li><a href="http://192.168.1.2:9999/products-grid">perfumes</a></li>
                        <li><a href="http://192.168.1.2:9999/products-grid">gifts</a></li>
                        <li><a href="http://192.168.1.2:9999/products-grid">brands</a></li>
                        <li><a href="http://192.168.1.2:9999/products-grid">must have</a></li>

                    </ul>


                    <select class="top-cat-menu dropdown">
                        <option value="products-grid">
                            FACE
                        </option>


                        <option value="products-grid">
                            BODY
                        </option>
                        <option value="products-grid">
                            MAKE UP
                        </option>
                        <option value="products-grid">
                            HAIRS
                        </option>
                        <option value="products-grid">
                            PERFUMES
                        </option>
                        <option value="products-grid">
                            GIFTS
                        </option>
                        <option value="products-grid">
                            BRANDS
                        </option>

                        <option value="products-grid">
                            MUST HAVE
                        </option>



                    </select>


                </div>
                <div class="span3">
                    <div class="search-field-holder">
                        <form>
                            <input class="span12" type="text" placeholder="Type and hit enter">
                            <i class="icon-search"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    #admin{       
        position: fixed;
        right: 30px;
        top: 30px;
    }
    #admins{
        text-decoration: none;
        width: 200px;
        height: 40px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: rgba(200, 200, 200, 0.1);
    }

</style>
<div id="admin" >
    <a  id="admins" href="http://192.168.1.2:9999/user" >进入管理者模式</a>
</div>

