<!DOCTYPE html>
<html>

<head>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>用户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/icheck/minimal/yellow.css" rel="stylesheet">
    <script src="jquery-3.3.1/jq.js"></script>


    <!--[if IE 7]>
      
        <link href="css/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet">
        
        <![endif]-->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/responsive.css">


</head>

<body>



    <div class="wrapper">
        <%include header.html%>



        <section class="section-checkout">
            <div class="container">

                <div class="phase-title current">
                    <h1>亲，快加入我们</h1>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="form-holder right-border">
                            <h4>老朋友请登录</h4>
                            <p>
                                
                            </p>

                            <div class="control-group">

                                <div class="controls">
                                    <div class="form-label ">用户</div>

                                    <input type="text" id="email" name="email" class="required span12 cusmo-input" />

                                </div>
                            </div>

                            <div class="control-group">

                                <div class="controls">
                                    <div class="form-label ">密码</div>

                                    <input id="password" type="password" name="password" class="required span12 cusmo-input" />

                                </div>
                            </div>
                            <div class="rememberme">
                                <input type="checkbox" class="iCheck"> 记住密码
                            </div>
                            <div class="forget-password">
                                <a href="#">忘记密码？</a>
                            </div>
                            <div class="button-holder">
                                <button class="cusmo-btn narrow " type="button" id="login">登录</button>
                            </div>

                        </div>

                    </div>




                    <div class="span6">
                        <div class="form-holder">
                            <h4>新会员</h4>
                            <p>
                                
                            </p>

                            <div class="control-group">

                                <div class="controls">
                                    <div class="form-label ">用户</div>

                                    <input type="text" name="email" class="required span12 cusmo-input" id="user" />

                                </div>
                            </div>

                            <div class="control-group">

                                <div class="controls">
                                    <div class="form-label ">密码</div>

                                    <input type="password" name="password" class="required span12 cusmo-input" id="pwd" />

                                </div>
                            </div>
                            <div class="control-group">

                                <div class="controls">
                                    <div class="form-label ">确认密码</div>

                                    <input type="password" name="repassword" class="required span12 cusmo-input" id="pwds" />

                                </div>
                            </div>
                            <button class="cusmo-btn narrow pull-right" type="button" id="resigned">注册</button>

                        </div>
                    </div>
                </div>
                <!-- 登录注册模块的ajax请求 -->
                <script>
                    $("#login").on("click", function () {
                        var name = document.getElementById("email").value;
                        var pwd = document.getElementById("password").value;
                        if (name == "" || password == "") {
                            alert("请输入正确的账号密码。。。");
                        } else {
                            $.ajax({
                                url: "login",
                                type: "post",
                                data: {
                                    name: name,
                                    password: pwd
                                },
                                traditional: true,
                                success: function (data) {
                                    switch(data){
                                        case "1":
                                        alert("账号不存在")
                                        break;  
                                        case "2":
                                        alert("登陆成功，正在跳转");
                                        window.location.href = "http://localhost:9999/index";
                                        break;                                     
                                        case "3":
                                        alert("密码错误")
                                        break;
                                    }
                                }
                            })
                        }
                    })

                    $("#resigned").on("click", function () {
                        var name = document.getElementById("user").value;
                        var pwd = document.getElementById("pwd").value;
                        var pwds = document.getElementById("pwds").value;
                        if (user == "" || pwd == "" || pwds == "") {
                            alert("请输入正确的账号密码。。。");
                        } else if (pwd != pwds) {
                            alert("前后两次密码不一致。。。");
                        }
                        else {
                            $.ajax({
                                url: "resigned",
                                type: "post",
                                data: {
                                    name: name,
                                    password: pwd
                                },
                                traditional: true,
                                success: function (data) {
                                    alert(data);
                                }
                            })
                        }
                    })

                </script>               
            </div>
        </section>       

        <%include footer.html%>

    </div>


    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-migrate-1.1.1.min.js"></script>
    <script src="css/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/css_browser_selector.js"></script>
    <script src="js/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="js/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing-1.3.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>


    <script type="text/javascript" src="js/bootstrap-slider.js"></script>


    <script type="text/javascript" src="js/script.js"></script>
</body>


</html>