<section class="section-homepage-subscribe">
    <div class="container">
        <div class="big-circle">

            获取
            <div class="big"><span>$</span>10</div>
            票证 

        </div>
        <div class="offer-text">
           报名参加我们的时事通讯并获得10美元一杯
        </div>
        <div class="email-holder">

            <div class="email-field">

                <form>
                    <input class=" required email" name="email" data-placeholder="Enter here your email address..." />
                    <button class="newsletter-submit-btn" type="submit" value=""><i class="icon-plus"></i></button>

                </form>

            </div>
        </div>
    </div>
</section>

<section class="section-footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <div class="footer-links-holder">
                    <h2>信息</h2>
                    <ul>
                        <li><a href="#" >我们的博客</a></li> 
                        <li><a href="#" >关于我们的产品</a></li> 
                        <li><a href="#" >购物保障</a></li>
                        <li><a href="#" >隐私策略</a></li>
                        <li><a href="#" >交付信息</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="footer-links-holder">
                    <h2>客户服务</h2>
                    <ul>
                        <li><a href="#" >联系我们</a></li> 
                        <li><a href="#" >网站导航</a></li> 
                        <li><a href="#" >销售精英</a></li>
                        <li><a href="#" >礼券</a></li>
                        <li><a href="#" >畅销书</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="footer-links-holder">
                    <h2>您的帐号</h2>
                    <ul>
                        <li><a href="#" >订单状态</a></li> 
                        <li><a href="#" >我的收藏</a></li> 
                        <li><a href="#" >送货地址</a></li>
                        <li><a href="#" >订单历史记录</a></li>
                        <li><a href="#" >时事通讯</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="footer-links-holder">
                    <h2>取得联系</h2>
                    <p>
                       Cosmetico商店<br>
                       好城镇122，比提中心<br>
                        (011) 212 222 22
                    </p>
                    <ul class="inline social-icons">
                        <li><a href="#" class="icon-facebook" ></a></li> 
                        <li><a href="#" class="icon-google-plus" ></a></li> 
                        <li><a href="#" class="icon-rss" ></a></li>

                        <li><a href="#" class="icon-linkedin" ></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>