<div class="top">
    <div class="top_logo">
        <span class="ziti">后台管理系统</span>
    </div>

    <div class="top_links">
        <div class="top_op">
            <ul>
                <li>
                    <img src="images/common/user.jpg">：
                    <span>管理</span>
                </li>
                <li>
                    <img  src="images/common/month.jpg">：
                    <span >2018.10</span>
                </li>
                <li>
                    <img alt="今天是" src="images/common/date.jpg">：
                    <span >2018.10.19</span>
                </li>
            </ul>
        </div>
        <div class="top_close">
            <a href="http://localhost:9999/index"  target="_parent">
                <img alt="退出系统" title="退出系统" src="images/common/close.jpg" style="position: relative; top: 10px; left: 25px;">
            </a>
        </div>
    </div>

</div>

